<%= simple_form_for [:admin, @purchase]  do |f| %>
  <div class="tabs-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1"> Purchase Item</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2"> Purchase Summary</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active">
        <div class="panel-body">
          <div class="row">
          <%= link_to_add_association f, :purchase_items,
                  'data-association-insertion-method' => 'after',
          'data-association-insertion-node' => '.nested-fields:last',
        class:"btn btn-success btn-xs pull-right" do %>
            <i class="fa fa-plus"></i>Add Item
      <% end %>
                </div>
          <br>
          <%= render 'purchase_item_header.html.erb' %>
          <%= f.simple_fields_for :purchase_items do |purchase_item| %>
            <%= render 'purchase_item_fields', f: purchase_item %>
          <% end %>

        </div>
      </div>
      <div id="tab-2" class="tab-pane">
        <div class="panel-body">
          <%= f.input :total_tw_price %>
          <%= f.input :total_tw_duty %>
          <%= f.input :total_currency_shipping_fee %>
          <%= f.input :total_tw_service_fee %>
          <%= f.input :purchase_date,as: :date, html5: true %>
          <%= f.input :delivery_date,as: :date, html5: true %>
        </div>
      </div>
    </div>
    <br>
    <%= f.submit "Submit", class:"btn btn-info pull-right",data:{ disable_with: "Submitting..." } %>
  </div>
<% end %>
