<%= simple_form_for [:admin,@purchase]  do |f| %>
  <label>Purchase Item</label>
  <div class="col-md-offset-1">
    <div class="row">
      <%= link_to_add_association f, :purchase_items,
                  'data-association-insertion-method' => 'after',
          'data-association-insertion-node' => '.nested-fields:last',
        class:"btn btn-success btn-xs pull-right" do %>
        <i class="fa fa-plus"></i>Add Purchase Item
        <% end %>
    </div>
    <br>
    <%= render 'purchase_item_header.html.erb' %>
    <%= f.simple_fields_for :purchase_items do |purchase_item| %>
      <%= render 'purchase_item_fields', f: purchase_item %>
    <% end %>
    <%= f.input :total_tw_price %>
    <%= f.input :total_duty %>
    <%= f.input :total_currency_shipping_fee %>
    <%= f.input :total_service_fee %>
    <%= f.input :purchase_date,as: :date, html5: true %>
    <%= f.input :delivery_date,as: :date, html5: true %>
    <%= f.submit "Submit", class:"btn btn-info pull-right",data:{ disable_with: "Submitting..." } %>
  <% end %>
