<div class="row nested-fields form-group">
  <div class="col-md-3">
    <%= f.association :product, label: false, input_html:{class:"select_product"} %>
  </div>
  <div class="col-md-2">
    <%= f.association :color,collection: ProductOption.by_color(f.object.product_id),label: false, input_html:{class:"select_color"} %>
  </div>
  <div class="col-md-2">
    <%= f.association :dimension,collection: ProductOption.by_dimension(f.object.product_id),label: false, input_html:{class:"select_dimension"} %>
  </div>
  <div class="col-md-2">
    <%= f.input :quantity  ,label: false%>
  </div>
  <div class="col-md-2">
    <%= f.input :currency_price ,label: false %>
  </div>
  <div class="col-md-1"></div>
  <%= link_to_remove_association f, class:"btn" do %>
    <i class="fa fa-trash"></i>
  <% end %>
</div>

