<tr>
  <td><%= sale.id %></td>
  <td><%= link_to(sale.created_at.strftime('%s'), admin_sale_path(sale)) %></td>
  <td class="text-right"><%= sale.total_cost %></td>
  <td class="text-right"><%= sale.total_profit %></td>
  <td class="text-right"><%= render_profit_rate(sale.total_profit_rate) %></td>
  <td class="text-right"><%= sale.created_at.to_s(:short) %></td>
  <td class="text-right"><%= sale.shipping_date %></td>
  <td class="text-right">
    <%= link_to edit_admin_sale_path(sale), class:"btn btn-xs btn-outline btn-primary" do %>
      <i class="fa fa-pencil-square-o">Edit</i>
    <% end %>
    <%= link_to admin_sale_path(sale),class:"btn btn-xs btn-outline btn-danger",method: :delete, data:{confirm:"Are you sure?"} do  %>
      <i class="fa fa-trash">Delete</i>
    <% end %>
  </td>
</tr>
