<h2>銷貨</h2>
<%= link_to("新增銷貨單", new_admin_sale_path, class:"btn btn-info pull-right") %>
<div class="row">
  <div class="col-md-6">
    <div id="ship_type_pie"></div>
  </div>
  <div class="col-md-6">
    <div id="sale_platform_pie"></div>
  </div>
</div>

<table class="table">
  <thead>
    <th>#</th>
    <th>Date</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= link_to(sale.created_at, admin_sale_path(sale)) %></td>
        <td><%= link_to("Edit", edit_admin_sale_path(sale)) %></td>
        <td><%= link_to("Delete", admin_sale_path(sale), method: :delete, data:{confirm: 'Are you sure ?'}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(function(){
      var ship_type_config = {
        bindto: '#ship_type_pie',
        data: {
            json: gon.ship_type_count,
            type : 'pie'
        },
        tooltip: {
          format: {
            value: function(value, ratio, id){
              return value;
            }
          }
        }
      };

      var chart = c3.generate(ship_type_config);
  });
</script>
