<H2>Sale Infomation</H2>
Order Number: <%= @sale.order_number %><br>
SalePlatform: <%= @sale.sale_platform.name %><br>
Shipping Number: <%= @sale.shipping_number %>
Address: <%= @sale.address %><br>
Total Cost : <%= @sale.total_cost %><br>
Total Shipping Fee: <%= @sale.total_shipping_fee %><br>
Total Service Fee: <%= @sale.total_service_fee %><br>
Total Profit: <%= @sale.total_profit %><br>
Total Profit Rate: <%= (@sale.total_profit_rate * 100).round(2).to_s + "%" %><br>
Total Price: <%= @sale.total_sale %><br>

<table class="table">
  <thead>
    <th>Product</th>
    <th>Color</th>
    <th>Size</th>
    <th>Cost</th>
    <th>Qty</th>
    <th>Price</th>
    <th>shipping</th>
    <th>service</th>
    <th>credit</th>
    <th>profit</th>
    <th>profit_rate</th>
    <th>sub_cost</th>
    <th>sub_price</th>
  </thead>
  <tbody>
    <% @sale_items.each do |sale_item| %>
      <tr>
        <td><%= sale_item.product.title %></td>
        <td><%= sale_item.color.name %></td>
        <td><%= sale_item.dimension.name %></td>
        <td><%= sale_item.cost %></td>
        <td><%= sale_item.quantity %></td>
        <td><%= sale_item.sale_price %></td>
        <td><%= sale_item.shipping_fee %></td>
        <td><%= sale_item.service_fee %></td>
        <td><%= sale_item.credit_fee %></td>
        <td><%= sale_item.profit %></td>
        <td><%= (sale_item.profit_rate * 100).round(2).to_s + "%" %></td>
        <td><%= sale_item.cost_sub_total %></td>
        <td><%= sale_item.sale_sub_total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
