<H2>Inventory Information</H2>
<%= @inventory.product.title %> <br>
<%= @inventory.cost %><br>
<%= @inventory.quantity %><br>
<%= @inventory.updated_at %><br>
<h2>Inventory Transaction Detail</h2>
<div id="chart"></div>
<table class="table">
  <thead>
    <th>#</th>
    <th>original_cost</th>
    <th>original_qyt</th>
    <th>change_cost</th>
    <th>change_qty</th>
    <th>final_cost</th>
    <th>final_qty</th>
    <th>updated_at</th>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.original_cost %></td>
        <td><%= transaction.original_quantity %></td>
        <td><%= transaction.change_cost %></td>
        <td><%= transaction.change_quantity %></td>
        <td><%= transaction.final_cost %></td>
        <td><%= transaction.final_quantity %></td>
        <td><%= transaction.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(function(){
    var transactions = gon.transactions,
        xDate = ['x'],
        yData = ['price'],
        y2Date = ['qty'];

        transactions.map(function(item){
          var itemTime = new Date(item.updated_at),
              itemFormat = d3.time.format("%H:%M:%S");
          xDate.push(itemFormat(itemTime));
          yData.push(item.final_cost);
          y2Date.push(item.final_quantity);
        });

      var chart = c3.generate({
          bindto: '#chart',
          data: {
            x: 'x',
            columns: [
              xDate,
              yData,
              y2Date
            ],
            axes: {
              qty: 'y2'
            },
            types: {
              qty: 'bar'
            }
          },
          axis: {
            x: {
              type : 'category'
            },
            y: {
              label: {
                text: 'Price',
                position: 'outer-middle'
              }
            },
            y2: {
              tick: { format: d3.format("d") },
              show: true,
              label: {
                text: 'Quantity',
                position: 'outer-middle'
              }
            }
          },
          subchart: {
            show: true
          },
          zoom: {
            enabled: true
          }
      });

  });
</script>
