<%= simple_form_for [:admin,@product]  do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>
  <div class="group">
    <%= f.input :description %>
  </div>
  <div class="group">
    <%= f.input :quantity %>
  </div>
  <div class="group">
    <%= f.input :price %>
  </div>
  <label>Options</label>
  <% if !@product.errors.blank? %>
    <%= @product.errors.full_messages %>
  <% end %>
  <div class="row-fluid">
    <div class="col-md-offset-1">
      <div id="options">
        <div class="row-fluid">
          <%= link_to_add_association 'new option', f, :product_options,
          'data-association-insertion-method' => 'append',
          'data-association-insertion-node' => 'table',
          class: "btn btn-danger pull-right"
         %>
          <br>
          <table class="table table-bordered">
            <tbody>
              <%= f.simple_fields_for :product_options do |product_option| %>
                <%= render 'product_option_fields', :f => product_option %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="myDropzone" class="dropzone">
    <%= f.simple_fields_for :photo do |c| %>
      <div class="fallback">
        <%= c.input :images , as: :file, input_html: { multiple: 'multiple'} %>
      </div>
    <% end %>
  </div>
  <br>
  <%= f.submit "Submit", class:"btn btn-info pull-right",data:{disable_with: "Submitting..."} %>
<% end %>
