<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox product-detail">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-5">
              <div class="product-slick">
                <% if @product.photo.present? %>
                  <% @product.photo.images.each do |image| %>
                    <div>
                      <%= image_tag(image.medium.url, class:"thumbnail") %>
                    </div>
                  <% end %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                <% end %>
              </div>
            </div>
            <div class="col-md-7">
              <h2 class="font-bold m-b-xs">
                <%= @product.title %>
              </h2>
              <div class="m-t-md">
                <h2 class="product-main-price">$ <%= @product.price %> </h2>
              </div>
              <hr>
              <h4>Product description</h4>
              <div class="small text-muted">
                <%= @product.description %>
              </div>
              <hr>
              <%= simple_form_for current_cart, url: add_to_cart_product_path(@product), method: :post do |f| %>
                <div class="row">
                  <%= f.simple_fields_for :cart_items do |c| %>
                    <div class="col-md-4">
                      <%= c.input :color_id, as: :select, input_html: { class:"select_color" }  %>
                    </div>
                    <div class="col-md-4">
                      <%= c.input :dimension_id, as: :select,collection: [['Select Dimension','-1']],input_html: {class:"select_dimension", disabled: true}  %>
                    </div>
                    <div class="col-md-4">
                      <%= c.input :quantity, as: :select,collection: [['Select Quantity','-1']],input_html: {class:"select_quantity", disabled: true} %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="pull-right">
                <%= button_tag(type: 'submit', method: :post, class: "btn btn-danger btn-lg") do %>
                  <i class="fa fa-cart-plus"></i> 加入購物車
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<script type="text/javascript">
  $(function() {
    var select2BaseConfig, select2ColorConfig, select2DimensionConfig, select2QuantityConfig;
    select2BaseConfig= {
      theme: "bootstrap",
      escapeMarkup: function(markup) {
        return markup;
      },
      placeholder: {
        id: '-1',
        text: 'Select an Option'
      },
      width: '100%'
    };
    select2ColorConfig = select2DimensionConfig = select2QuantityConfig = select2BaseConfig;
    $('.select_color, .select_dimension, .select_quantity').select2(select2BaseConfig);

    $('.product-slick').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true
    });


    function getProductColorOption(){
      $.ajax({
        url: "/inventories.json",
        dataType: "JSON",
        data: {
          getColorOption: <%= @product.id %>
        },
        success: function(data) {
          removeOption($('.select_color'));
          select2ColorConfig.data = data;
          select2ColorConfig.placeholder.text = 'Select Color'
          $('.select_color').select2(select2ColorConfig).select2('val', -1);
        }
      });
    }



    getProductColorOption();
    $('.select_color').on('select2:select', function(e) {
      var color_id = $(this).val(),
        $select_product = <%= @product.id %>,
        $selct_dimension = $(".select_dimension");
        url = "/inventories.json";
      $.ajax({
        url: url,
        dataType: "JSON",
        data: {
          getDimensionOption: [$select_product, color_id]
        },
        success: function(data) {
          $selct_dimension.prop("disabled", false);
          removeOption($selct_dimension);
          select2DimensionConfig.data = data;
          select2DimensionConfig.placeholder.text = 'Select Dimension'
          $selct_dimension.select2(select2DimensionConfig).select2('val', -1);
        }
      });
    });


    $('.select_dimension').on('select2:select', function(e) {
      var dimension_id = $(this).val(),
        $select_product = <%= @product.id %>,
        $select_color = $(".select_color").val(),
        $select_quantity = $(".select_quantity");
        url = "/inventories.json";
      $.ajax({
        url: url,
        dataType: "JSON",
        data: {
          getInventory: [$select_product, $select_color, dimension_id ]
        },
        success: function(data) {
          $select_quantity.prop("disabled", false);
          var options = [];
          for (var i = 1; i <= data[0].quantity; i++) {
            var option = {id: i , text: i};
            options.push(option);
          }
          removeOption($select_quantity);
          select2QuantityConfig.data = options;
          select2QuantityConfig.placeholder.text = 'Select Quantity';
          select2QuantityConfig.minimumResultsForSearch = "Infinity";
          $select_quantity.select2(select2QuantityConfig).select2('val', -1);
        }
      });
    });
  });
</script>
