<!DOCTYPE html>
<html>
  <head>
    <title>MaskStore 後台</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets_manifest.find_sources("#{params[:controller]}.css") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <meta name="turbolinks-cache-control" content="no-preview">
  </head>
  <body>
    <%= Gon::Base.render_data %>
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <!-- Navigation -->
      <%= render 'layouts/navigation' %>
      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg">
        <!-- Main view  -->
        <%= notice_message %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets_manifest.find_sources("#{params[:controller]}.js") %>
    <%= yield :javascript %>
  </body>
</html>
