<!DOCTYPE html>
<html>
  <head>
    <title>Maskstore</title>
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets_manifest.find_sources("#{params[:controller]}.css") %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body class="top-navigation">
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
      <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
          <%= render "common/navbar" %>
        </div>
        <%= notice_message %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <%= javascript_include_tag params[:controller] if ::Rails.application.assets_manifest.find_sources("#{params[:controller]}.js") %>
      <%= yield :javascript %>
    </div>
  </body>
</html>
